<main>
  <p id ="notice"></p>
   <div class="container px-5 px-sm-0">
    <div class="row">
     <div class="col-md-3">

      <%= render"users/list",book:@newbook,user:@user %>
     </div>
     <div class="col-md-8 offset-md-1">
       <h2>Book detail</h2>
        <%if @book.user == current_user %>
       <table class="table">
         <thead>
           <tr>
             <td>
              <%= link_to user_path(@user.id) do %>
               <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size:'40x40' %>
              <% end %>
              <br><%= link_to @user.name,user_path(@user.id) %>
             </td>
             <td><%=link_to @book.title,book_path(@book.id) %></td>
             <td><%=@book.body %></td>
             <td>
              <%=link_to edit_book_path(@book.id),class:"btn btn-sm btn-success" do %>
               Edit
              <% end %>
              </td>

              <td>
               <%=link_to book_path(@book),method: :delete, class:"btn btn-sm btn-danger" ,"data-confirm" => "本当に消しますか？" do %>
                Destroy
               <% end %>
              </td>
           </tr>
         </thead>
       </table>
        <% else %> 
        
       <table class="table" border="0">
        <thead>
         <tr>
          <td>
              <%= link_to user_path(@user.id) do %>
               <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size:'40x40' %>
              <% end %>
              <br><%= link_to @user.name,user_path(@user.id) %>
             </td>
             <td><%=link_to @book.title,book_path(@book.id) %></td>
             <td><%=@book.body %></td>
             <td>
              <div id ="favorites_buttons_<%= @book.id %>">
              <%= render "favorites/favorite-btn",book:@book %>
              </div>
              </td>
               <td class ="comment-count">
               <%= render "book_comments/comment-count", book:@book %>
              </td> 
             </tr>
           </thead>
          </table>
             
          
            <%= render "book_comments/index",book:@book,user:@user %>
          
               
             <div id="error_explanation">
              <% if @book_comment.errors.any? %>
               <h3>
                <%= book_comment.count %> errors prohibited this obj from being saved:
               </h3>
              <ul>
              <% book_comment.errors.full_messages.each do |message| %>
               <li> 
                <%= message %>
               </li>
              <% end %>
             </ul>
             <% end %>
             
            </div>
              <%= render "book_comments/form",book:@book,book_comment:@book_comment %>
            </div>
              
        <% end %>
      </div>
     </div>
    </div>
</main>
